/*
 * Text styles
 */

	a{
		color:#000;
		text-decoration:underline;
	}

	a:hover { text-decoration:none;}
	

	h1{
		font:3em 'Oswald', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		color:#ff41ae;
		margin-top: 0;
		margin-bottom: 0.02em;
		line-height: 1em;
		
	}


	h2{
		font:1em "Droid Serif", serif;
		font-weight: 700;
		letter-spacing: 0.025em;
		color:#ff7036;
		font-style: italic;
		margin-top: 0;
		margin-bottom: 25px;
		


	}

	p {
	  font:.9em "Droid Serif", serif;
	  line-height: 1em;
	  letter-spacing: 0.035em;
	  color: #000;
	  margin-top: 0;
	  margin-bottom: 0.25em;
	}

	p.subhead {
	  font:1.5em "Oswald", serif;
	  font-weight: 300;
	  text-transform: uppercase;
	  letter-spacing: 0.025em;
	  color:#357c55;
	  margin-top: 0px;
	}


img.storyimage {
	width: 65%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

hr.thin {
height: 1px;
border: 0;
background-color: #b6b7b6;
width: 100%;
} 

/*
 * Page styles
 */

body {

	background-color: #e9ccd6;
	margin-top: 40px;
	margin-bottom: 40px;

}

.container {

	margin:auto;
	height: auto;
}

.header {
	background-color:#;

	}

.jkondo {
	width: 200px;
}

.main {
	background-color: #;
	margin-top:25px;
}

.footer {
		background-color:#;
		margin-top:25px;
 	}


@media only screen and (min-width: 320px) {

		
	.container {

 		width: 95%;
 		text-align: left;
 		margin: auto;


 	}	

img.storyimage {
	width: 90%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

p {
	line-height: 2.5em;
}

    
}

 	 @media only screen and (min-width: 768px) {

 	 	.container {

 		width: 475px;
		text-align: center;

 	}	

.jkondo {
	margin:auto;
	text-align: center;
}

p {
	line-height: 1.9em;
}
	

    }
	