/*
 * Text styles
 */


	a{
		color:#E4478F;
		text-decoration:none;
	}

	a:hover { 

		text-decoration:underline;}
	

	h1{
		font:3em 'Poppins', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color:#FF3321;
		margin-bottom: 30px;
		line-height: 1em;
		
	}


	h2{
		font:1.2em "Poppins", sans-serif;
		font-weight: 400;
		letter-spacing: 0.08em;
		color:#4D6BA1;
		font-style: normal;
		margin-top: 0;
		margin-bottom: 30px;
		text-transform: uppercase;
		


	}

	p {
	  font:1em "Open sans", sans-serif;
	  line-height: 1.9em;
	  letter-spacing: 0.035em;
	  color: #4D6BA1;
	  margin-top: 0;
	  margin-bottom: 0.25em;
	}



	p.subhead {
		font:1.2em "Poppins", sans-serif;
		font-weight: 500;
		letter-spacing: 0.10em;
		color:#FF3321;
		font-style: normal;
		margin-top: 0;
		text-transform: uppercase;
	}


img.storyimage {
	width: 65%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

hr.thin {
height: 1px;
border: 0;
background-color: #CED8D2;
width: 100%;
margin-bottom: 30px;

} 

/*
 * Page styles
 */

body {

	background-color: #FFFFEF;
	margin-top: 40px;
	margin-bottom: 40px;

}

.container {

	margin:auto;
	height: auto;
}

.header {
	background-color:#;

	}

.jkondo {
	width: auto;
}

.main {
	background-color: #;
	margin-top:25px;
}

.footer {
		background-color:#;
		margin-top:25px;
 	}


@media only screen and (min-width: 320px) {

		
	.container {

 		width: 95%;
 		text-align: center;
 		margin: auto;


 	}	

img.storyimage {
	width: 100%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;

}


p{
	font-size: 16px;
}
    
}

 	 @media only screen and (min-width: 768px) {

 	 	.container {

 		width: 475px;
		text-align: center;

 	}	

.jkondo {
	margin:auto;
	text-align: center;
}

p{
	font-size: 14px;
}
	

    }
	